<%= header.date%>
<h2><%= header.title%></h2>



<ul>
	<% for(var i=0; i<content.log.length; i++) { %>
	<ol>
		<strong><%= content.log[i]['label'] %></strong>: <%= content.log[i]['msg']%>
	</ol>
	<% } %>
</ul>



<% if (content.matches && content.matches.length > 0) {%>
<h2><%= content.matchesTitle%></h2>
<ul>
	<% for(var i=0; i<content.matches.length; i++) { %>
	<ol>
		<%= content.matches[i]['gameDate'] %>&#160;
		<strong><%= content.matches[i]['tournament'] %></strong>&#160;
		<a href="<%= content.matches[i]['rivalTeamLink'] %>">
			<% if (content.matches[i]['emblem']) {%>
				<img style="width: 25px; margin-bottom: -8px;" src="data:image/png;base64,<%= content.matches[i]['emblem'] %>" alt="<%= content.matches[i]['rivalTeamName'] %>"/>
			<% } %>
			<%= content.matches[i]['rivalTeamName'] %>
		</a>
		&#160;
		Ордер
		<% if (content.matches[i]['order'] == 'принят') {%>
			<span style="color: green;"><%= content.matches[i]['order'] %></span>&#160;
		<% } else {%>
			<span style="color: red;"><%= content.matches[i]['order'] %></span>&#160;
		<% } %>
		<a href="<%= content.matches[i]['link'] %>" target="_blank">Отправить</a>

	</ol>
	<% } %>
</ul>
<% } %>



<% if (content.training && content.training.progress.length > 0) {%>
<h2>
	<%= content.trainingTitle%>
	<a style="font-size: 12px; font-weight: normal" href="<%= content.training.settingsLink%>">Настроить тренировки</a>
</h2>
<%= content.training.trainingsLeft%><br/>
<table class="table table-striped">

		<thead>
			<tr>
				<th>
					<%= content.training.progress[0][0]%>
				</th>
				<th>
					<%= content.training.progress[0][2]%>
				</th>
				<th>
					<%= content.training.progress[0][3]%>
				</th>
				<th>
					<%= content.training.progress[0][4]%>
				</th>
				<th>
					<%= content.training.progress[0][5]%>
				</th>
				<th>
					<%= content.training.progress[0][6]%>
				</th>
				<th>
					<%= content.training.progress[0][7]%>
				</th>
			</tr>
		</thead>
		<tbody class="progressTable">
		<% for(var i=1; i<content.training.progress.length; i++) { %>
			<tr class="<% if (parseFloat(content.training.progress[i][6]) === 0) {%>danger<%}%>">
				<td>
					<a href="<%= content.training.progress[i][1] %>" target="_blank"><%= content.training.progress[i][0]%></a>
				</td>
				<td>
					<%= content.training.progress[i][2]%>
				</td>
				<td>
					<%= content.training.progress[i][3]%>
				</td>
				<td>
					<%= content.training.progress[i][4]%>
				</td>
				<td>
					<%= content.training.progress[i][5]%>
				</td>
				<td>
					<%= content.training.progress[i][6]%>
				</td>
				<td>
					<%= content.training.progress[i][7]%>
				</td>
			</tr>
		<% } %>
		</tbody>
</table>
<% } %>

<% if (content.training && content.training.regress.length > 0) {%>
<table class="table table-striped">
	<thead>
	<tr>
		<th>
			<%= content.training.progress[0][0]%>
		</th>
		<th>
			<%= content.training.progress[0][2]%>
		</th>
		<th>
			<%= content.training.progress[0][3]%>
		</th>
		<th>
			<%= content.training.progress[0][4]%>
		</th>
		<th>
			<%= content.training.progress[0][5]%>
		</th>
		<th>
			<%= content.training.progress[0][6]%>
		</th>
		<th>
			<%= content.training.progress[0][7]%>
		</th>
	</tr>
	</thead>
	<tbody class="regress">
	<% for(var i=1; i<content.training.regress.length; i++) { %>
		<tr>
			<td>
				<a href="<%= content.training.regress[i][1] %>" target="_blank"><%= content.training.regress[i][0]%></a>
			</td>
			<td>
				<%= content.training.regress[i][2]%>
			</td>
			<td>
				<%= content.training.regress[i][3]%>
			</td>
			<td>
				<%= content.training.regress[i][4]%>
			</td>
			<td>
				<%= content.training.regress[i][5]%>
			</td>
			<td>
				<%= content.training.regress[i][6]%>
			</td>
			<td>
				<%= content.training.regress[i][7]%>
			</td>
		</tr>
	<% } %>
	</tbody>
</table>
<% } %>


<% if (content.trainingJunior && content.trainingJunior.progress.length > 0) {%>

<h2>
	<%= content.trainingTitleJunior%>
	<a style="font-size: 12px; font-weight: normal" href="<%= content.trainingTitleJunior.settingsLink%>">Настроить тренировки</a>
</h2>
<%= content.training.trainingsLeft%><br/>
<table class="table table-striped">
	<thead>
	<tr>
		<th>
			<%= content.trainingJunior.progress[0][0]%>
		</th>
		<th>
			<%= content.trainingJunior.progress[0][2]%>
		</th>
		<th>
			<%= content.trainingJunior.progress[0][3]%>
		</th>
		<th>
			<%= content.trainingJunior.progress[0][4]%>
		</th>
		<th>
			<%= content.trainingJunior.progress[0][5]%>
		</th>
		<th>
			<%= content.trainingJunior.progress[0][6]%>
		</th>
		<th>
			<%= content.trainingJunior.progress[0][7]%>
		</th>
	</tr>
	</thead>

	<tbody class="progressTable">
	<% for(var i=1; i<content.trainingJunior.progress.length; i++) { %>
		<tr class="<% if (parseFloat(content.trainingJunior.progress[i][6]) === 0) {%>danger<%}%>">
			<td>
				<a href="<%= content.trainingJunior.progress[i][1] %>" target="_blank"><%= content.trainingJunior.progress[i][0]%></a>
			</td>
			<td>
				<%= content.trainingJunior.progress[i][2]%>
			</td>
			<td>
				<%= content.trainingJunior.progress[i][3]%>
			</td>
			<td>
				<%= content.trainingJunior.progress[i][4]%>
			</td>
			<td>
				<%= content.trainingJunior.progress[i][5]%>
			</td>
			<td>
				<%= content.trainingJunior.progress[i][6]%>
			</td>
			<td>
				<%= content.trainingJunior.progress[i][7]%>
			</td>
		</tr>
	<% } %>
	</tbody>
</table>
<% } %>


<% if (content.matchResult) {%>
<h2><%= content.matchResultTitle%></h2>
<table>
	<tr>
		<td></td>
		<td style="text-align: center; font-size: 0.8em;">
			<div><%= content.matchResult.date %></div>
			<div><%= content.matchResult.tournament %></div>
			<div><a href="<%= content.matchResult.path %>" target="_blank"><%= content.matchResult.homeTeam.name %> - <%= content.matchResult.guestTeam.name %></a></div>
			<div>Зрителей: <%= content.matchResult.audience %></div>
		</td>
		<td></td>
	</tr>
	<tr>
		<td style="text-align: center;">
			<img style="width:100px" src="data:image/png;base64,<%= content.matchResult.homeTeam.img %>" alt="<%= content.matchResult.homeTeam.name %>"/>

		</td>
		<td style="text-align: center; font-size: 4em; color:#333333;">
			<div><strong><%= content.matchResult.result %></strong></div>
		</td>
		<td style="text-align: center;">
			<img style="width:100px" src="data:image/png;base64,<%= content.matchResult.guestTeam.img %>" alt="<%= content.matchResult.guestTeam.name %>"/>
		</td>
	</tr>
	<tr>
		<td style="text-align: center; font-weight: bold">
			<a href="<%= content.matchResult.homeTeam.link %>"><%= content.matchResult.homeTeam.name %></a>
		</td>
		<td></td>
		<td style="text-align: center; font-weight: bold">
			<a href="<%= content.matchResult.guestTeam.link %>"><%= content.matchResult.guestTeam.name %></a>
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<table>
				<% for(var i=0; i<content.matchResult.legenda.length; i++) { %>
				<tr>
					<td style="text-align: right; width:47%">
						<% if (!content.matchResult.legenda[i]['away']) {%>
						<%= content.matchResult.legenda[i]['result'] %>
						<img src="<%= content.matchResult.legenda[i]['eventTypeLink'] %>"/>
						<% } %>
					</td>
					<td style="width: 6%; text-align: center; vertical-align: top;"><%= content.matchResult.legenda[i]['time'] %></td>
					<td style="width: 47%">
						<% if (content.matchResult.legenda[i]['away']) {%>
						<img src="<%= content.matchResult.legenda[i]['eventTypeLink'] %>"/>&#160;
						<%= content.matchResult.legenda[i]['result'] %>&#160;
						<% } %>
					</td>
				</tr>
				<% } %>
			</table>
		</td>
	</tr>
</table>
<% } %>

<% if (content.financialReport) {%>
<h2>
	<%= content.financialReportTitle%>
	<a style="font-size: 12px; font-weight: normal" href="<%= content.financialReport.settingsLink%>">Посмотреть на сайте</a>
</h2>

<% if (content.financialReport.result && content.financialReport.result.length > 0) {%>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Дата</th>
			<th>Комментарий</th>
			<th>Деньги</th>
			<th>Контрагент</th>
			<th>Баланс</th>
		</tr>
	</thead>
	<tbody>
		<% for(var i=0; i < content.financialReport.report.length; i++) { %>
			<tr style="color:<% if (parseFloat(content.financialReport.report[i]['money']) < 0) {%>#a70000<%} else {%>green<% }%>">
				<td>
					<%= content.financialReport.report[i]['date'] %>
				</td>
				<td>
					<%= content.financialReport.report[i]['comment'] %>
				</td>
				<td>
					<%= content.financialReport.report[i]['money'] %>
				</td>
				<td>
					<%= content.financialReport.report[i]['contrAgent'] %>
				</td>
				<td>
					<%= content.financialReport.report[i]['balance'] %>
				</td>
			</tr>
		<% } %>
	</tbody>
</table>
<% } %>
<% } %>
