<h2>
	<%= content.financialReportTitle%>
	<a style="font-size: 12px; font-weight: normal" href="<%= content.financialReport.settingsLink%>">Посмотреть на сайте</a>
</h2>

<% if (content.financialReport.report && content.financialReport.report.length > 0) {%>
<table class="table table-striped">
	<thead>
	<tr>
		<th>Дата</th>
		<th>Комментарий</th>
		<th>Деньги</th>
		<th>Контрагент</th>
		<th>Баланс</th>
	</tr>
	</thead>
	<tbody>
	<% for(var i=0; i < content.financialReport.report.length; i++) { %>
	<tr style="color:<% if (parseFloat(content.financialReport.report[i]['money']) < 0) {%>#a70000<%} else {%>green<% }%>">
		<td>
			<%= content.financialReport.report[i]['date'] %>
		</td>
		<td>
			<%= content.financialReport.report[i]['comment'] %>
		</td>
		<td>
			<%= content.financialReport.report[i]['money'] %>
		</td>
		<td>
			<%= content.financialReport.report[i]['contrAgent'] %>
		</td>
		<td>
			<%= content.financialReport.report[i]['balance'] %>
		</td>
	</tr>
	<% } %>
	</tbody>
</table>
<% } %>
