<h2><%= content.matchesTitle%></h2>
<ul>
	<% for(var i=0; i<content.matches.length; i++) { %>
	<ol>
		<%= content.matches[i]['gameDate'] %>&#160;
		<strong><%= content.matches[i]['tournament'] %></strong>&#160;
		<a href="<%= content.matches[i]['rivalTeamLink'] %>">
			<% if (content.matches[i]['emblem']) {%>
			<img style="width: 25px; margin-bottom: -8px;" src="data:image/png;base64,<%= content.matches[i]['emblem'] %>" alt="<%= content.matches[i]['rivalTeamName'] %>"/>
			<% } %>
			<%= content.matches[i]['rivalTeamName'] %>
		</a>
		&#160;
		Ордер
		<% if (content.matches[i]['order'] == 'принят') {%>
		<span style="color: green;"><%= content.matches[i]['order'] %></span>&#160;
		<% } else {%>
		<span style="color: red;"><%= content.matches[i]['order'] %></span>&#160;
		<% } %>
		<a href="<%= content.matches[i]['link'] %>" target="_blank">Отправить</a>

	</ol>
	<% } %>
</ul>
