<h2><%= content.matchResultTitle%></h2>
<table>
	<tr>
		<td></td>
		<td style="text-align: center; font-size: 0.8em;">
			<div><%= content.matchResult.date %></div>
			<div><%= content.matchResult.tournament %></div>
			<div><a href="<%= content.matchResult.path %>" target="_blank"><%= content.matchResult.homeTeam.name %> - <%= content.matchResult.guestTeam.name %></a></div>
			<div>Зрителей: <%= content.matchResult.audience %></div>
		</td>
		<td></td>
	</tr>
	<tr>
		<td style="text-align: center;">
			<img style="width:100px" src="data:image/png;base64,<%= content.matchResult.homeTeam.img %>" alt="<%= content.matchResult.homeTeam.name %>"/>

		</td>
		<td style="text-align: center; font-size: 4em; color:#333333;">
			<div><strong><%= content.matchResult.result %></strong></div>
		</td>
		<td style="text-align: center;">
			<img style="width:100px" src="data:image/png;base64,<%= content.matchResult.guestTeam.img %>" alt="<%= content.matchResult.guestTeam.name %>"/>
		</td>
	</tr>
	<tr>
		<td style="text-align: center; font-weight: bold">
			<a href="<%= content.matchResult.homeTeam.link %>"><%= content.matchResult.homeTeam.name %></a>
		</td>
		<td></td>
		<td style="text-align: center; font-weight: bold">
			<a href="<%= content.matchResult.guestTeam.link %>"><%= content.matchResult.guestTeam.name %></a>
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<table>
				<% for(var i=0; i<content.matchResult.legenda.length; i++) { %>
				<tr>
					<td style="text-align: right; width:47%">
						<% if (!content.matchResult.legenda[i]['away']) {%>
						<%= content.matchResult.legenda[i]['result'] %>
						<img src="<%= content.matchResult.legenda[i]['eventTypeLink'] %>"/>
						<% } %>
					</td>
					<td style="width: 6%; text-align: center; vertical-align: top;"><%= content.matchResult.legenda[i]['time'] %></td>
					<td style="width: 47%">
						<% if (content.matchResult.legenda[i]['away']) {%>
						<img src="<%= content.matchResult.legenda[i]['eventTypeLink'] %>"/>&#160;
						<%= content.matchResult.legenda[i]['result'] %>&#160;
						<% } %>
					</td>
				</tr>
				<% } %>
			</table>
		</td>
	</tr>
</table>
