<h2>
	<%= content.trainingTitle%>
	<a style="font-size: 12px; font-weight: normal" href="<%= content.training.settingsLink%>">Настроить тренировки</a>
</h2>
<%= content.training.trainingsLeft%><br/>
<table class="table table-striped">

	<thead>
	<tr>
		<th>
			<%= content.training.progress[0][0]%>
		</th>
		<th>
			<%= content.training.progress[0][2]%>
		</th>
		<th>
			<%= content.training.progress[0][3]%>
		</th>
		<th>
			<%= content.training.progress[0][4]%>
		</th>
		<th>
			<%= content.training.progress[0][5]%>
		</th>
		<th>
			<%= content.training.progress[0][6]%>
		</th>
		<th>
			<%= content.training.progress[0][7]%>
		</th>
	</tr>
	</thead>
	<tbody class="progressTable">
	<% for(var i=1; i<content.training.progress.length; i++) { %>
	<tr class="<% if (parseFloat(content.training.progress[i][6]) === 0) {%>danger<%}%>">
		<td>
			<a href="<%= content.training.progress[i][1] %>" target="_blank"><%= content.training.progress[i][0]%></a>
		</td>
		<td>
			<%= content.training.progress[i][2]%>
		</td>
		<td>
			<%= content.training.progress[i][3]%>
		</td>
		<td>
			<%= content.training.progress[i][4]%>
		</td>
		<td>
			<%= content.training.progress[i][5]%>
		</td>
		<td>
			<%= content.training.progress[i][6]%>
		</td>
		<td>
			<%= content.training.progress[i][7]%>
		</td>
	</tr>
	<% } %>
	</tbody>
</table>
