<table class="table table-striped">
	<thead>
	<tr>
		<th>
			<%= content.training.progress[0][0]%>
		</th>
		<th>
			<%= content.training.progress[0][2]%>
		</th>
		<th>
			<%= content.training.progress[0][3]%>
		</th>
		<th>
			<%= content.training.progress[0][4]%>
		</th>
		<th>
			<%= content.training.progress[0][5]%>
		</th>
		<th>
			<%= content.training.progress[0][6]%>
		</th>
		<th>
			<%= content.training.progress[0][7]%>
		</th>
	</tr>
	</thead>
	<tbody class="regress">
	<% for(var i=1; i<content.training.regress.length; i++) { %>
	<tr>
		<td>
			<a href="<%= content.training.regress[i][1] %>" target="_blank"><%= content.training.regress[i][0]%></a>
		</td>
		<td>
			<%= content.training.regress[i][2]%>
		</td>
		<td>
			<%= content.training.regress[i][3]%>
		</td>
		<td>
			<%= content.training.regress[i][4]%>
		</td>
		<td>
			<%= content.training.regress[i][5]%>
		</td>
		<td>
			<%= content.training.regress[i][6]%>
		</td>
		<td>
			<%= content.training.regress[i][7]%>
		</td>
	</tr>
	<% } %>
	</tbody>
</table>
